h1{
  text-align: center;
}

.container {
  width: 73rem;
  margin: 10 auto;
  padding: 10px;
}

button{
  margin-bottom: 3px;
  padding: 9px 10px;
  background-color: #1c89ff;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

table {
  width: 103%;
  border-collapse: collapse;
}

table th{
  padding: 9px;
  border: 1px solid #ccc;
  text-align: left;
  background-color: #f2f2f2;
}
table td{
  padding: 9px;
  border: 1px solid #ccc;
  text-align: left;
}

.bar {
  flex: 1; 
}

.bar input{
  width: 10rem;
  border-radius: 3px ;
  border: 1px solid black;
  margin: 10px 10px 10px 0.5px;
  padding: 5px;
  outline: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.sortable-header {
  cursor: pointer;
  position: relative;
}

.sort-icon {
  color: black;
  position: absolute;
  left: 5rem; 
  top: 50%;
  transform: translateY(-50%);
}

.table-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.input-container input[type="number"] {
  width: 60px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-right: 10px; 
}

.input-container input[type="number"]:focus {
  border-color: #007bff; 
}




